.article-termos {
  background: var(--cor-0);
}

.perguntas {
  padding-top: 100px;
  padding-bottom: 100px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas-frequentes {
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.perguntas-frequentes:nth-child(odd) {
  background: #f7f7f7;
  border-radius: 5px;
}

.perguntas-frequentes dt {
  position: relative;
  padding: 0px 0px 10px 2px;
}

.perguntas-frequentes dt::after {
  width: 14px;
  height: 6px;
  transform: rotate(180deg);
  content: "";
  right: 0px;
  position: absolute;
  transition: 0.3s;
  background-image: url("../../img/icones/seta-abrir.svg");
}

.perguntas-frequentes dt.ativo::after {
  transform: rotate(0);
}

.perguntas-frequentes dt::before {
  content: "";
  width: 12px;
  height: 8px;
  top: 7px;
  left: -14px;
  position: absolute;
  background: var(--cor-p1);
}

.js .perguntas-frequentes dd {
  display: none;
}

.js .perguntas-frequentes dd.ativo {
  display: block;
  animation: acordionList 0.3s forwards;
}

@keyframes acordionList {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 800px) {
  .perguntas-frequentes button,
  .perguntas-frequentes dd {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .perguntas-frequentes {
    padding: 20px;
  }

  .perguntas h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
  }
}

@media (max-width: 470px) {
  .perguntas {
    padding-left: 10px;
    padding-right: 10px;
  }
  .perguntas-frequentes button,
  .perguntas-frequentes dd {
    font-size: 0.9rem;
  }
}
