body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}
blockquote {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
}

a,
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  display: inline-block;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

.item {
  opacity: 0;
}

.item.ativo {
  animation: animation 0.3s forwards;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
