.introducao-bg {
  background-color: var(--cor-12);
}

.introducao {
  display: grid;
  grid-template-columns: 6fr 6fr;
  max-width: 1200px;
  margin: auto;
  gap: 0px 20px;
  padding: 0px 20px;
  background: url("/img/dec/bottom-left.svg") no-repeat bottom 30px left 20px;
  box-sizing: border-box;
}

.introducao-imagem {
  margin-bottom: -120px;
}

.introducao img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.introducao-conteudo {
  align-self: center;
  margin-bottom: 120px;
}

.introducao-conteudo h1 {
  margin-top: 120px;
  margin-bottom: 32px;
}

.introducao-conteudo h1 span {
  color: var(--cor-p1);
  padding: 0px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

@media (max-width: 1100px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
    margin-top: 40px;
  }

  .introducao-conteudo p {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    background-color: var(--cor-11);
    gap: 0px;
    grid-template-columns: 1fr;
  }

  .introducao-conteudo h1 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .introducao-imagem {
    margin-bottom: -80px;
  }

  .introducao img {
    height: 300px;
    margin-bottom: 40px;
  }
}

@media (max-width: 520px) {
  .introducao-conteudo h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .introducao img {
    margin-bottom: 0px;
  }


  .introducao-imagem {
    margin-bottom: -35px;
  }

  .introducao-conteudo {
    margin-bottom: 18px;
  }

  .introducao-conteudo p {
    font-size: 0.9rem;
  }
}
